.card {
  width: 136px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  background-color: $color-white;
  border-radius: 2rem;

  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;

  &__image{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;

    border-radius: 1.4rem;
  }

  &__button{    
    border: none;
    background-color: transparent;
    margin-top: 0.6rem;
    font-size: 2rem;
    color: $color-fav-active;
  }
}


// <article class="card">
//   <img
//     class="card__image"
//     src="https://cdn2.thecatapi.com/images/du9.jpg"
//   />
//   <button class="card__button">Fav</button>
// </article>
