// Colors
$color-white: #fcf9f9;
$color-background: #eeeced;
$color-text-light: #e3e0e1;
$color-text-mid: #c6bbc1;
$color-fav-active: #fb9fa6;
$color-text-dark: #7c7b7c;
$color-background-dark: #303030;

// Fonts
$font-primary: "Quicksand", sans-serif;
// Font weigths
$font-thin: 300;
$font-regular: 400;
$font-bold: 700;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;

  font-family: $font-primary;
  color: $color-background-dark;
  background-color: $color-background;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  display: block;
  width: 26rem;
  margin-bottom: 1.4rem;
  border: none;
  border-radius: 0.8rem;
  padding: 1.2rem 2rem;
  background-color: $color-background-dark;
  font-family: $font-primary;
  font-size: 1.8rem;
  font-weight: $font-regular;
  color: $color-text-light;

  &:active {
    scale: 0.95;
  }
}

// CODIGO DE REFERENCIA

// main {
//   width: min-content;
//   margin: 20px;
// }

// .favourites-container, .my-images-container {
//   display: grid;
//   grid-template-columns: repeat(2, auto);
//   gap: 20px;
// }
